<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mission to the MOON</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/dev/css/jquery-ui.css">
<script src="static/dev/js/joy.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="static/login/images/icons/favicon.ico"/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="static/login/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="static/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="static/login/vendor/animate/animate.css">
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href="static/login/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="static/login/vendor/select2/select2.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="static/login/css/util.css">
  <link rel="stylesheet" type="text/css" href="static/login/css/main.css">
<!--===============================================================================================-->
</head>
<body>
{% if error %}
  <div class="imiter">
        <div class="row">
            <div class="alert alert-danger col-md-4 col-md-offset-4" align="center">
                {{ error }}
            </div>
        </div>
    </div>
{% endif %}
  
        <div class="w3-container w3-row">

      <div class="w3-third" id="joyDiv" style="width:200px;height:200px;margin-bottom:20px;"></div>
      <!-- we-rest keeps slider on right of joystick on small screens -->

    </div>
    
  

  
<!--===============================================================================================-->  
  <script src="static/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
  <script src="static/login/vendor/bootstrap/js/popper.js"></script>
  <script src="static/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
  <script src="static/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
  <script src="static/login/vendor/tilt/tilt.jquery.min.js"></script>
  <script >
    $('.js-tilt').tilt({
      scale: 1.1
    })
  </script>
<!--===============================================================================================-->
  <script src="static/login/js/main.js"></script>

<script type="text/javascript">
    $(document).ready(function () { 
    window.setTimeout(function() {
        $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
            $(this).remove(); 
            });
        }, 500);
    });
</script>


<Script>
      
      <!-- Create JoyStick object into the DIV 'joyDiv' -->

      var joy = new JoyStick('joyDiv');
      var inputPosX = document.getElementById("cursorX");
      var inputPosY = document.getElementById("cursorY");
      var direction = document.getElementById("direction");
      var x = document.getElementById("X");
      var y = document.getElementById("Y");

      setInterval(function(){ inputPosX.value=joy.GetPosX(); }, 50);
      setInterval(function(){ inputPosY.value=joy.GetPosY(); }, 50);
      setInterval(function(){ direction.value=joy.GetDir(); }, 50);
      setInterval(function(){ x.value=joy.GetX(); }, 50);
      setInterval(function(){ y.value=joy.GetY(); }, 50);
      
      window.addEventListener("beforeunload", function (event) {
          event.preventDefault();
        });
      $(document).ready (function() {
        $("#ctlButton").click(function () {
          var entry = document.getElementById('entry');
          var CtrlKey = document.getElementById('CtrlKey');
          entry.innerHTML = 'You entered: ' + CtrlKey.value;
        });
      });
      var sCounter = 0; /*-- Temp for testing button change routine */
      function chgButton()
      {
        sCounter = sCounter + 1;
        ButtonCtl(sCounter);
        if (sCounter > 3) {
          sCounter = 0;
        }
      }
      function ButtonCtl(condition) {
        var statusButton = document.getElementById("ctlButton");
        switch(condition)
        {
          case 1:
            /* Running - Button color=green, text=Running */
            statusButton.style.backgroundColor = "green";
            statusButton.innerHTML = "Running";
            break;
          case 2:
            /* Time running out - Button color=yellow, text=Warning */
            statusButton.style.color = "w3-yellow";
            statusButton.innerHTML = "Warning";
            break;
          case 3:
            /* Stop - Button color=red, text=stopped */
            statusButton.style.color = "w3-red";
            statusButton.innerHTML = "Stopped";
            break;
          default:
            /* Idle - Button color=blue, text=begin */
            statusButton.style.color = "w3-blue";
            statusButton.innerHTML = "Begin";
            break;
        }
      }
    </script>

</body>
</html>


